# dependencies
/node_modules
/.pnpm-store

# next.js build
/.next/
/out/

# production
/build

# env files
.env*.local
.env

# vercel
.vercel

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?